body {
    width: 100%;
    height: 100%;
    background-color:rgb(238,238,238);
    display:flex;
    justify-content: center;
    flex-direction: column;
}

header {
    text-align: center;
}

.Portrait_image img {
    width: 250px;
    padding: 2px 0px 0 2px;
}

.Portrait_image {
    background-color: #fff;
    padding: 5% 40% 5% 30%;
    width: 40%; 
    text-align: center
 }


.Dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    line-height: 30px;
    margin:2%;
}

